body {
	background: lightgreen;
	width: 100vw;
}

body.done {
	background: indianred;
}

h1 {
	font-size: 34dvh;
	text-align: center;
	font-family: "Factor A", Ubuntu, Helvetica, Arial, sans-serif !important;
}

@media only screen and (max-aspect-ratio: 8/5) {
	h1 { 
		font-size: 18dvw;
	}
}
